# 1. Creating, Reading, and Writing

In [2]:
import pandas as pd
pd.options.mode.chained_assignment = None

## Creating Data
### Dataframe

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']}, 
              index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series

In [4]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## Reading File

In [5]:
wine_reviews = pd.read_csv('../../data/Wine Review/''winemag-data-130k-v2.csv', index_col = 0)

In [5]:
wine_reviews.shape

(129971, 13)

In [6]:
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Writing CSV file

In [7]:
product_review = pd.DataFrame({'Customer A': [5, 4], 'Customer B': [3, 2]}, index = ['Product A', 'Product B'])
product_review.to_csv("pandas_product_review_example.csv")
pd.read_csv("pandas_product_review_example.csv")

  Unnamed: 0  Customer A  Customer B
0  Product A           5           3
1  Product B           4           2

If you get `UnicodeEncodeError` , simply add `encoding='utf-8'`.

# 2. Indexing, Selecting, and Assigning

## Viewing specific variable of dataframe

In [8]:
wine_reviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

or `wine_reviews['country']`

In [9]:
wine_reviews['country'][0]

'Italy'

## Index-based Selection
selecting data based on its numerical position in the data.

### Viewing a row

In [10]:
wine_reviews.iloc[0]

country                                                              Italy
description              Aromas include tropical fruit, broom, brimston...
designation                                                   Vulkà Bianco
points                                                                  87
price                                                                  NaN
province                                                 Sicily & Sardinia
region_1                                                              Etna
region_2                                                               NaN
taster_name                                                  Kerin O’Keefe
taster_twitter_handle                                         @kerinokeefe
title                                    Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                        White Blend
winery                                                             Nicosia
Name: 0, dtype: object

### Viewing a column

In [11]:
wine_reviews.iloc[:, 0]

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [12]:
wine_reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [13]:
wine_reviews.iloc[[1,4,7], 0]

1    Portugal
4          US
7      France
Name: country, dtype: object

In [14]:
wine_reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [1]:
mean_price = wine_reviews.groupby(['country', 'points']).price.mean()
len_values = wine_reviews.groupby(['country', 'points']).price.count()
sum_price = wine_reviews.groupby(['country', 'points']).price.sum()
a  = pd.DataFrame({'country': wine_reviews.country, 
              'points': wine_reviews.points,
              'price': wine_reviews.price})

NameError: name 'wine_reviews' is not defined

## Label-Based Selection
> In this paradigm, it's the data index value, not its position, which matters.

> When we use `iloc` we treat the dataset like a big matrix (a list of lists), one that we have to index into by position. `loc`, by contrast, uses the information in the indices to do its work.

In [15]:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

               taster_name taster_twitter_handle  points
0            Kerin O’Keefe          @kerinokeefe      87
1               Roger Voss            @vossroger      87
2             Paul Gregutt           @paulgwine       87
3       Alexander Peartree                   NaN      87
4             Paul Gregutt           @paulgwine       87
...                    ...                   ...     ...
129966  Anna Lee C. Iijima                   NaN      90
129967        Paul Gregutt           @paulgwine       90
129968          Roger Voss            @vossroger      90
129969          Roger Voss            @vossroger      90
129970          Roger Voss            @vossroger      90

[129971 rows x 3 columns]

> `iloc` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So `0:10` will select entries `0,...,9`. `loc`, meanwhile, indexes inclusively. So `0:10` will select entries `0,...,10`.

Create a variable df containing the `country`, `province`, `region_1`, and `region_2` columns of the records with the index labels `0`, `1`, `10`, and `100`.

In [16]:
wine_reviews.loc[[0,1,10,100], ["country", "province", "region_1", "region_2"]]

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

### Manipulating the Index

In [17]:
wine_reviews.set_index("title").head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks

This is useful if you can come up with an index for the dataset which is better than the current one.

## Conditional Selection

Suppose that we're interested specifically in better-than-average wines produced in Italy.
We can start by checking if each wine is Italian or not.

In [18]:
wine_reviews.country == "Italy"

0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [19]:
wine_reviews.loc[wine_reviews.country == 'Italy'].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì

19540 cases are from Italy.
Now we also want to know which ones are better than average.

In [20]:
average = wine_reviews.points.mean()
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points > average)].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla

Suppose we'll buy any wine that's made in Italy or which is rated above average.

In [21]:
wine_reviews.loc[(wine_reviews.country == 'Italy') | (wine_reviews.points >= 90)].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
22,Italy,Delicate aromas recall white flower and citrus...,Ficiligno,87,19.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Baglio di Pianetto 2007 Ficiligno White (Sicilia),White Blend,Baglio di Pianetto
24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì

### Conditional Selector `isin`
> `isin` lets you select data whose value "is in" a list of values.

Suppose we want to select wines only from Italy or France.

In [22]:
wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach
9,France,This has great depth of flavor with its fresh ...,Les Natures,87,27.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,Jean-Baptiste Adam
11,France,"This is a dry wine, very spicy, with a tight, ...",NaN,87,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,Leon Beyer

### Conditional Selector `isnull` (companion `notnull`)
These methods let you highlight values which are (or are not) empty.
Suppose we want to filter out wines lacking a price tag in the dataset.

In [23]:
wine_reviews.loc[wine_reviews.price.notnull()].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

Create a dataFrame `top_oceania_wines` containing all reviews with at least 95 points for wines from `Australia` or `New Zealand`.

In [24]:
wine_reviews.loc[(wine_reviews.points >= 95) & wine_reviews.country.isin(['Australia', 'New Zealand'])].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
348,Australia,Deep mahogany. Dried fig and black tea on the ...,Grand,97,100.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Grand Muscat (R...,Muscat,Chambers Rosewood Vineyards
349,Australia,"RunRig is always complex, and the 2012 doesn't...",RunRig,97,225.0,South Australia,Barossa,NaN,Joe Czerwinski,@JoeCz,Torbreck 2012 RunRig Shiraz-Viognier (Barossa),Shiraz-Viognier,Torbreck
356,Australia,"Dusty, firm, powerful: just a few apt descript...",Georgia's Paddock,95,85.0,Victoria,Heathcote,NaN,Joe Czerwinski,@JoeCz,Jasper Hill 2013 Georgia's Paddock Shiraz (Hea...,Shiraz,Jasper Hill

## Assigning Data
### Assigning a Constant Value

In [25]:
wine_reviews['critic'] = 'everyone'
wine_reviews['critic']

0         everyone
1         everyone
2         everyone
3         everyone
4         everyone
            ...
129966    everyone
129967    everyone
129968    everyone
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

### Assigning a Iterable Value

In [26]:
wine_reviews['index_backwards'] = range(len(wine_reviews), 0, -1)
wine_reviews['index_backwards']

0         129971
1         129970
2         129969
3         129968
4         129967
           ...
129966         5
129967         4
129968         3
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

# 3. Summary Functions and Maps

## Summary Functions
### `describe()` method
This is a high-level summary of the attributes of the given column. It is type-aware.

`describe()` Numeric variable

In [27]:
wine_reviews.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

`describe()` Categorical variable

In [28]:
wine_reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

### `mean()` method

In [29]:
wine_reviews.points.mean()

88.44713820775404

### `unique()` method
We can see the list of unique values using the `unique()` method.

In [30]:
wine_reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

### `value_counts()` method
We can see a list of unique values and how often they occur in the dataset using `value_counts()` method.

In [31]:
wine_reviews.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

## Maps
### 1. `map()` method
Suppose that we want to remean the scores the wines received to 0.

In [32]:
wine_review_points_mean = wine_reviews.points.mean()
wine_reviews.points.map(lambda p: p - wine_review_points_mean)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

> The function you pass to `map()` should expect a single value from the Series and return a transformed version of that value.

### 2. `apply()` method
We can instead use `apply` method to transform a whole DataFrame by calling a custom method on each row.

In [33]:
def remean_points(row):
    row.points = row.points - wine_review_points_mean
    return row

wine_reviews.apply(remean_points, axis = 'columns').head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,-1.447138,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,-1.447138,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,-1.447138,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,129967

* If we had called `reviews.apply()` with `axis='index'`, then instead of passing a function to transform each row, we would need to give a function to transform each column.
* `map()` and `apply()` return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on.

#### A faster way of remeaning our points column:

In [34]:
review_points_mean = wine_reviews.points.mean()
wine_reviews.points - review_points_mean

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

#### An easy way of combining country and region information in the dataset:

In [35]:
wine_reviews.country + " - " + wine_reviews.region_1

0                     Italy - Etna
1                              NaN
2           US - Willamette Valley
3         US - Lake Michigan Shore
4           US - Willamette Valley
                    ...
129966                         NaN
129967                 US - Oregon
129968             France - Alsace
129969             France - Alsace
129970             France - Alsace
Length: 129971, dtype: object

Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset.

In [36]:
bargain_idx = (wine_reviews.points/ wine_reviews.price).idxmax()
bargain_wine = wine_reviews.loc[bargain_idx, 'title']
bargain_wine

'Bandit NV Merlot (California)'

> `idxmax()` method refers to the index of the max value.

Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset.

In [37]:
n_trop = wine_reviews.description.map(lambda desc: "tropical" in desc).sum()
n_fruity = wine_reviews.description.map(lambda desc: "fruity" in desc).sum()
descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])
descriptor_counts

tropical    3607
fruity      9090
dtype: int64

# 4. Grouping and Sorting
## Groupwise Analysis
### `groupby()` method
Instead of `value_counts()` method to show unique values and their frequencies, we can use `groupby()` and `count()` methods.

In [38]:
wine_reviews.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

> or we could use `wine_reviews.groupby('taster_twitter_handle').size()` instead.

In [39]:
wine_reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

One way of selecting the name of the first wine reviewed from each winery in the dataset

In [40]:
wine_reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

* `map()` method cannot substitute `apply()` when using `groupby()` method cocurrently.

#### Grouping more than one column
We can pick out the best wine by country and province.

In [41]:
wine_reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery  \
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

                              critic  index_backwards
country   province
Argentina Mendoza Province  everyone            47217
          Other             everyone            51668
Armenia   Armenia           everyone            63825
Australia Australia Other   everyone            92089
          New South Wales   everyone            44634
...                              ...              ...
Uruguay   Juanico           everyone           120838
          Montevideo        everyone           114221
          Progreso          everyone            36868
          San Jose          everyone            90073
          Uruguay           everyone            90610

[425 rows x 15 columns]

### agg() method
It lets you run a bunch of different functions on your DataFrame simultaneously.

we can generate a simple statistical summary of the dataset.

In [42]:
wine_reviews.groupby('country').price.agg([len, min, max]).head()

                           len   min     max
country
Argentina               3800.0   4.0   230.0
Armenia                    2.0  14.0    15.0
Australia               2329.0   5.0   850.0
Austria                 3345.0   7.0  1100.0
Bosnia and Herzegovina     2.0  12.0    13.0

## Multi-Indices
`groupby()`, depending on the operation we run, will sometimes result in what is called a multi-index.
A multi-index differs from a regular index in that it has multiple levels.

In [43]:
countries_reviewed = wine_reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

> Type of `countries_reviewed.index` is Multiindex.

### `reset_index()` method
* This method does not modify the dataframe but only return a copy of a dataframe with indices reset.

In [44]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

## Sorting
### `sort_values()` method
To get data in the order we want it in, we can sort it ourselves using `sort_values()` method.

In [45]:
countries_reviewed.reset_index().sort_values(by='len')

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

* `sort_values()` defaults to an ascending sort.
* However, most of the time we want a descending sort, then we can use `ascending = False` parameter in the method.

In [46]:
countries_reviewed.reset_index().sort_values(by='len', ascending = False)

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

#### Sorting by more than one column at a time

In [47]:
countries_reviewed.reset_index().sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

> This code prioritizes `country` variable that it first sorts countries by alphabetical order and then the repeated length of description of wines among provinces of a country.

In [48]:
countries_reviewed.reset_index().sort_values(by=['len', 'country'])

    country                  province    len
40   Brazil          Serra do Sudeste      1
48   Canada              Canada Other      1
58    Chile  Casablanca-Curicó Valley      1
63    Chile                   Coelemu      1
93    China                     China      1
..      ...                       ...    ...
409      US                    Oregon   5373
227   Italy                   Tuscany   5897
118  France                  Bordeaux   5941
415      US                Washington   8639
392      US                California  36247

[425 rows x 3 columns]

> This code prioritizes `len` variable that it first sorts the length of description of a wine and then the alphabetical order of countries that share the same length.

### `sort_index()` method
`sort_index()` method sorts by index values.

In [49]:
countries_reviewed.reset_index().sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

Create a DataFrame whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [50]:
price_extremes = wine_reviews.groupby('variety').price.agg([min, max])
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price.

In [51]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending = False)
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

What combination of countries and varieties are most common? 
Sort the values in the `Series` in descending order based on wine count.

In [52]:
wine_reviews.groupby(['country', 'variety']).size().sort_values(ascending = False)

country    variety
US         Pinot Noir                  9885
           Cabernet Sauvignon          7315
           Chardonnay                  6801
France     Bordeaux-style Red Blend    4725
Italy      Red Blend                   3624
                                       ...
Uruguay    Tempranillo-Tannat             1
Italy      Pignolo                        1
           Muscat                         1
           Moscato di Noto                1
Argentina  Barbera                        1
Length: 1612, dtype: int64

# 5. Data Type and Missing Values
## Data Type
### `dtype`: You can use the `dtype` property to grab the type of a specific column.

In [53]:
wine_reviews.price.dtype

dtype('float64')

### `dtypes` property returns the `dtype` of every column in a dataframe.

In [54]:
wine_reviews.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
critic                    object
index_backwards            int64
dtype: object

### We can use `astype()` method to convert a column of one type into another.

In [55]:
wine_reviews.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

## Missing Data
`NaN` entries are always `float64` type.
### To select `NaN` entries, use `pd.isnull()` (or its companion `pd.notnull()`).

In [56]:
wine_reviews[pd.isnull(wine_reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines,everyone,129058
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier,everyone,126840
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking,everyone,125728
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis,everyone,120462
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi,everyone,120221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy,everyone,5795
129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho,everyone,564
129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho,everyone,563
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ,everyone,381
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot,everyone,71

How many reviews in the dataset are missing a price?

In [57]:
wine_reviews.price.isnull().sum()

8996

### We can replace `NaN` with `fillna()` method.

In [58]:
wine_reviews.region_2.fillna('Unknown')

0                   Unknown
1                   Unknown
2         Willamette Valley
3                   Unknown
4         Willamette Valley
                ...
129966              Unknown
129967         Oregon Other
129968              Unknown
129969              Unknown
129970              Unknown
Name: region_2, Length: 129971, dtype: object

> Backfill strategy: fill each missing value with the first non-null value that appears sometime after the given record in the database.

### We can replace non null values with `replace()` method.

In [59]:
wine_reviews.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

0             @kerino
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

# 6. Renaming and Combining
## Renaming
### `rename()` function changes index names and/or column names.

In [60]:
wine_reviews.rename(columns = {"points": "score"})

,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,129967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),everyone,5
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,everyone,4
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,everyone,3
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1

In [61]:
wine_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,129967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),everyone,5
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,everyone,4
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,everyone,3
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1

In [62]:
wine_reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
firstEntry,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
secondEntry,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,129967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),everyone,5
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,everyone,4
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,everyone,3
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1

> Usually, `set_index()` is more useful than `rename()` for renaming index.

We could rename axis with `rename_axis()` method.

In [63]:
wine_reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
wines,,,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,129967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),everyone,5
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,everyone,4
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,everyone,3
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1

## Combining
In order of increasing complexity, these are `concat()`, `join()`, and `merge()`.

In [64]:
canadian_youtube = pd.read_csv('../../data/youtube_video/''CAvideos.csv')
british_youtube = pd.read_csv('../../data/youtube_video/''GBvideos.csv')
canadian_youtube.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...

In [65]:
british_youtube.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...

If we want to study multiple countries simultaneously, we can use `concat()` to smush them together.

In [66]:
pd.concat([canadian_youtube, british_youtube])

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

`join()` combines different DataFrame objects which have an index in common.

> We can pull down videos that happened to be trending on the same day in both Canada and the UK.

In [67]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

new_CAnBR_youtube = left.join(right, lsuffix='_CAN', rsuffix='_UK')
new_CAnBR_youtube

                                                                 video_id_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       PNn8sECd7io
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       DvPW66IFhMI
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       EXEaMjFeiEk
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       bYvQmusLaxw
                                                   17.21.12       bYvQmusLaxw
...                                                                       ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       WttN1Z0XF4k
                                                   18.29.04       WttN1Z0XF4k
                                                   18.30.04       WttN1Z0XF4k
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Wt9Gkpmbt44
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Az72jrKbANA

                                                                                channel_title_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                            Markiplier
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                        AlexRamiGaming
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                        AlexRamiGaming
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                  Pure Living for Life
                                                   17.21.12                  Pure Living for Life
...                                                                                           ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                          How Talented
                                                   18.29.04                          How Talented
                                                   18.30.04                          How Talented
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                         TheBigJackpot
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Right Side Broadcasting Network

                                                                  category_id_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                    20
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                    20
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                    20
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                    24
                                                   17.21.12                    24
...                                                                           ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                    24
                                                   18.29.04                    24
                                                   18.30.04                    24
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                    24
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                    25

                                                                          publish_time_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       2018-01-03T19:33:53.000Z
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       2018-03-09T07:15:52.000Z
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       2018-03-10T06:26:17.000Z
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       2017-12-20T02:49:11.000Z
                                                   17.21.12       2017-12-20T02:49:11.000Z
...                                                                                    ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       2018-04-28T19:40:58.000Z
                                                   18.29.04       2018-04-28T19:40:58.000Z
                                                   18.30.04       2018-04-28T19:40:58.000Z
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       2018-05-07T06:58:59.000Z
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       2018-04-03T23:12:37.000Z

                                                                                                           tags_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       getting over it|"markiplier"|"funny moments"|"...
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       PS4 Battle Royale|"PS4 Pro Battle Royale"|"Bat...
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       PS4 Battle Royale|"PS4 Pro Battle Royale"|"Bat...
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       timber frame|"timber framing"|"timber frame ra...
                                                   17.21.12       timber frame|"timber framing"|"timber frame ra...
...                                                                                                             ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       bgt|"bgt 2018"|"britain got talent"|"britain´s...
                                                   18.29.04       bgt|"bgt 2018"|"britain got talent"|"britain´s...
                                                   18.30.04       bgt|"bgt 2018"|"britain got talent"|"britain´s...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       Slot Machine|"win"|"Gambling"|"Big Win"|"raja"...
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       YouTube shooter|"YouTube active shooter"|"acti...

                                                                  views_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01          835930
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03          212838
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03          200764
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12           79152
                                                   17.21.12          232762
...                                                                     ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05          713400
                                                   18.29.04          231906
                                                   18.30.04          476253
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05           28973
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04          103513

                                                                  likes_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01           47058
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03            5199
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03            5620
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12            7761
                                                   17.21.12           15515
...                                                                     ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05            4684
                                                   18.29.04            1924
                                                   18.30.04            3417
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05            2167
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04            1722

                                                                  dislikes_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01               1023
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                542
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                537
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                159
                                                   17.21.12                329
...                                                                        ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                260
                                                   18.29.04                 78
                                                   18.30.04                176
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                175
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                181

                                                                  comment_count_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                    8250
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                      11
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                      45
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                    1965
                                                   17.21.12                    3601
...                                                                             ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                     266
                                                   18.29.04                     146
                                                   18.30.04                     240
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                      10
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                      76

                                                                                              thumbnail_link_CAN  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       https://i.ytimg.com/vi/PNn8sECd7io/default.jpg
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       https://i.ytimg.com/vi/DvPW66IFhMI/default.jpg
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       https://i.ytimg.com/vi/EXEaMjFeiEk/default.jpg
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       https://i.ytimg.com/vi/bYvQmusLaxw/default.jpg
                                                   17.21.12       https://i.ytimg.com/vi/bYvQmusLaxw/default.jpg
...                                                                                                          ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       https://i.ytimg.com/vi/WttN1Z0XF4k/default.jpg
                                                   18.29.04       https://i.ytimg.com/vi/WttN1Z0XF4k/default.jpg
                                                   18.30.04       https://i.ytimg.com/vi/WttN1Z0XF4k/default.jpg
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       https://i.ytimg.com/vi/Wt9Gkpmbt44/default.jpg
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       https://i.ytimg.com/vi/Az72jrKbANA/default.jpg

                                                                  ...  \
title                                              trending_date  ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       ...
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       ...
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03       ...
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12       ...
                                                   17.21.12       ...
...                                                               ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05       ...
                                                   18.29.04       ...
                                                   18.30.04       ...
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05       ...
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       ...

                                                                  tags_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01           NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03           NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03           NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12           NaN
                                                   17.21.12           NaN
...                                                                   ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05           NaN
                                                   18.29.04           NaN
                                                   18.30.04           NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05           NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04           NaN

                                                                  views_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03            NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03            NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12            NaN
                                                   17.21.12            NaN
...                                                                    ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05            NaN
                                                   18.29.04            NaN
                                                   18.30.04            NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05            NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04            NaN

                                                                  likes_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03            NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03            NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12            NaN
                                                   17.21.12            NaN
...                                                                    ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05            NaN
                                                   18.29.04            NaN
                                                   18.30.04            NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05            NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04            NaN

                                                                 dislikes_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01              NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03              NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03              NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12              NaN
                                                   17.21.12              NaN
...                                                                      ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05              NaN
                                                   18.29.04              NaN
                                                   18.30.04              NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05              NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04              NaN

                                                                 comment_count_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                   NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                   NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                   NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                   NaN
                                                   17.21.12                   NaN
...                                                                           ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                   NaN
                                                   18.29.04                   NaN
                                                   18.30.04                   NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                   NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                   NaN

                                                                 thumbnail_link_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                    NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                    NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                    NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                    NaN
                                                   17.21.12                    NaN
...                                                                            ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                    NaN
                                                   18.29.04                    NaN
                                                   18.30.04                    NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                    NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                    NaN

                                                                  comments_disabled_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                        NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                        NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                        NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                        NaN
                                                   17.21.12                        NaN
...                                                                                ...
😲She Is So Nervous But BLOWS The ROOF After Tak... 18.02.05                        NaN
                                                   18.29.04                        NaN
                                                   18.30.04                        NaN
🚨 BREAKING NEWS 🔴 Raja Live all Slot Channels W... 18.07.05                        NaN
🚨Active Shooter at YouTube Headquarters - LIVE ... 18.04.04                        NaN

                                                                 ratings_disabled_UK  \
title                                              trending_date
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01                      NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03                      NaN
#1 Fortnite World Rank - 2,330 Solo Wins!          18.10.03                      NaN
#1 MOST ANTICIPATED VIDEO (Timber Frame House R... 17.20.12                      NaN

> We only want to see the videos with valid entries for `likes_UK` and `likes_CAN`.

In [68]:
both_CA_BR = new_CAnBR_youtube[new_CAnBR_youtube.likes_UK.notnull() & new_CAnBR_youtube.likes_CAN.notnull()]
both_CA_BR["views_UK"] = both_CA_BR["views_UK"].astype("int64")
both_CA_BR

                                                                 video_id_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01       ERyfRmz0N-w
                                                   18.25.01       ERyfRmz0N-w
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       II-OP6vdMs8
                                                   18.20.01       II-OP6vdMs8
                                                   18.21.01       II-OP6vdMs8
...                                                                       ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       MctZLEYlU4s
                                                   18.20.04       MctZLEYlU4s
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       chjObfl72xQ
                                                   18.09.02       chjObfl72xQ
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       PcuRZ3WACBU

                                                                               channel_title_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                            Team Coco
                                                   18.25.01                            Team Coco
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       Full Frontal with Samantha Bee
                                                   18.20.01       Full Frontal with Samantha Bee
                                                   18.21.01       Full Frontal with Samantha Bee
...                                                                                          ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04                             RealVIXX
                                                   18.20.04                             RealVIXX
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02               영국남자 Korean Englishman
                                                   18.09.02               영국남자 Korean Englishman
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05                             MTV News

                                                                  category_id_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                    23
                                                   18.25.01                    23
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01                    22
                                                   18.20.01                    22
                                                   18.21.01                    22
...                                                                           ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04                    10
                                                   18.20.04                    10
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02                    23
                                                   18.09.02                    23
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05                    24

                                                                          publish_time_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01       2018-01-23T03:52:25.000Z
                                                   18.25.01       2018-01-23T03:52:25.000Z
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       2018-01-18T07:00:01.000Z
                                                   18.20.01       2018-01-18T07:00:01.000Z
                                                   18.21.01       2018-01-18T07:00:01.000Z
...                                                                                    ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       2018-04-17T09:00:11.000Z
                                                   18.20.04       2018-04-17T09:00:11.000Z
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       2018-02-07T11:30:01.000Z
                                                   18.09.02       2018-02-07T11:30:01.000Z
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       2018-04-29T16:00:02.000Z

                                                                                                           tags_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                                                  [none]
                                                   18.25.01                                                  [none]
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       Full Frontal with Samantha Bee|"Full Frontal"|...
                                                   18.20.01       Full Frontal with Samantha Bee|"Full Frontal"|...
                                                   18.21.01       Full Frontal with Samantha Bee|"Full Frontal"|...
...                                                                                                             ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       VIXX|"빅스"|"KPOP"|"Ravi"|"Ken"|"Leo"|"Hongbin"|...
                                                   18.20.04       VIXX|"빅스"|"KPOP"|"Ravi"|"Ken"|"Leo"|"Hongbin"|...
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       Korean|"영국남자"|"영국"|"조쉬"|"올리"|"Josh"|"Ollie"|"K...
                                                   18.09.02       Korean|"영국남자"|"영국"|"조쉬"|"올리"|"Josh"|"Ollie"|"K...
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       mtv news|"celebrity news"|"entertainment news"...

                                                                  views_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01          206229
                                                   18.25.01          310694
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01          635686
                                                   18.20.01          940904
                                                   18.21.01         1100283
...                                                                     ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04         1613123
                                                   18.20.04         1928670
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02          541142
                                                   18.09.02          821539
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05          382919

                                                                  likes_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01            5865
                                                   18.25.01            8058
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01           11383
                                                   18.20.01           14815
                                                   18.21.01           16291
...                                                                     ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04          164041
                                                   18.20.04          178813
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02           14512
                                                   18.09.02           18458
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05            8356

                                                                  dislikes_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                909
                                                   18.25.01               1306
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01              12123
                                                   18.20.01              20048
                                                   18.21.01              23511
...                                                                        ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04                600
                                                   18.20.04                766
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02                159
                                                   18.09.02                286
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05                110

                                                                  comment_count_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                    1288
                                                   18.25.01                    1734
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01                    4289
                                                   18.20.01                    7250
                                                   18.21.01                    8540
...                                                                             ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04                   18494
                                                   18.20.04                   20897
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02                    1652
                                                   18.09.02                    1973
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05                     349

                                                                                              thumbnail_link_CAN  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01       https://i.ytimg.com/vi/ERyfRmz0N-w/default.jpg
                                                   18.25.01       https://i.ytimg.com/vi/ERyfRmz0N-w/default.jpg
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       https://i.ytimg.com/vi/II-OP6vdMs8/default.jpg
                                                   18.20.01       https://i.ytimg.com/vi/II-OP6vdMs8/default.jpg
                                                   18.21.01       https://i.ytimg.com/vi/II-OP6vdMs8/default.jpg
...                                                                                                          ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       https://i.ytimg.com/vi/MctZLEYlU4s/default.jpg
                                                   18.20.04       https://i.ytimg.com/vi/MctZLEYlU4s/default.jpg
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       https://i.ytimg.com/vi/chjObfl72xQ/default.jpg
                                                   18.09.02       https://i.ytimg.com/vi/chjObfl72xQ/default.jpg
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       https://i.ytimg.com/vi/PcuRZ3WACBU/default.jpg

                                                                  ...  \
title                                              trending_date  ...
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01       ...
                                                   18.25.01       ...
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       ...
                                                   18.20.01       ...
                                                   18.21.01       ...
...                                                               ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       ...
                                                   18.20.04       ...
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       ...
                                                   18.09.02       ...
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       ...

                                                                                                            tags_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                                                  [none]
                                                   18.25.01                                                  [none]
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       Full Frontal with Samantha Bee|"Full Frontal"|...
                                                   18.20.01       Full Frontal with Samantha Bee|"Full Frontal"|...
                                                   18.21.01       Full Frontal with Samantha Bee|"Full Frontal"|...
...                                                                                                             ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       VIXX|"빅스"|"KPOP"|"Ravi"|"Ken"|"Leo"|"Hongbin"|...
                                                   18.20.04       VIXX|"빅스"|"KPOP"|"Ravi"|"Ken"|"Leo"|"Hongbin"|...
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       Korean|"영국남자"|"영국"|"조쉬"|"올리"|"Josh"|"Ollie"|"K...
                                                   18.09.02       Korean|"영국남자"|"영국"|"조쉬"|"올리"|"Josh"|"Ollie"|"K...
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       mtv news|"celebrity news"|"entertainment news"...

                                                                  views_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01         206229
                                                   18.25.01         310694
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01         635686
                                                   18.20.01         940904
                                                   18.21.01        1100283
...                                                                    ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04        1613123
                                                   18.20.04        1928670
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02         541142
                                                   18.09.02         821539
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05         382919

                                                                  likes_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01         5865.0
                                                   18.25.01         8058.0
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01        11383.0
                                                   18.20.01        14815.0
                                                   18.21.01        16291.0
...                                                                    ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       164041.0
                                                   18.20.04       178812.0
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02        14511.0
                                                   18.09.02        18458.0
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05         8356.0

                                                                 dislikes_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01            909.0
                                                   18.25.01           1306.0
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01          12122.0
                                                   18.20.01          20046.0
                                                   18.21.01          23511.0
...                                                                      ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04            600.0
                                                   18.20.04            766.0
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02            159.0
                                                   18.09.02            286.0
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05            110.0

                                                                 comment_count_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                1288.0
                                                   18.25.01                1734.0
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01                4289.0
                                                   18.20.01                7250.0
                                                   18.21.01                8540.0
...                                                                           ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04               18494.0
                                                   18.20.04               20897.0
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02                1652.0
                                                   18.09.02                1973.0
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05                 349.0

                                                                                               thumbnail_link_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01       https://i.ytimg.com/vi/ERyfRmz0N-w/default.jpg
                                                   18.25.01       https://i.ytimg.com/vi/ERyfRmz0N-w/default.jpg
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01       https://i.ytimg.com/vi/II-OP6vdMs8/default.jpg
                                                   18.20.01       https://i.ytimg.com/vi/II-OP6vdMs8/default.jpg
                                                   18.21.01       https://i.ytimg.com/vi/II-OP6vdMs8/default.jpg
...                                                                                                          ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04       https://i.ytimg.com/vi/MctZLEYlU4s/default.jpg
                                                   18.20.04       https://i.ytimg.com/vi/MctZLEYlU4s/default.jpg
한국 컵라면+소주를 처음 먹어본 동계올림픽 전설들의 반응!                   18.08.02       https://i.ytimg.com/vi/chjObfl72xQ/default.jpg
                                                   18.09.02       https://i.ytimg.com/vi/chjObfl72xQ/default.jpg
🔥  The 'Avengers: Infinity War' Cast Play ‘HOT ... 18.01.05       https://i.ytimg.com/vi/PcuRZ3WACBU/default.jpg

                                                                  comments_disabled_UK  \
title                                              trending_date
#ConanHaiti Preview: Haitians Roast Trump  - CO... 18.24.01                      False
                                                   18.25.01                      False
#MeToo Backlash | January 17, 2018 Act 1 | Full... 18.19.01                      False
                                                   18.20.01                      False
                                                   18.21.01                      False
...                                                                                ...
빅스(VIXX) - '향 (Scentist)' Official M/V             18.19.04                      False

> We want to see the videos in the order of most total views from two countries, with a new column named `views_Total`.

In [69]:
@.max(axis=1)
both_CA_BR = both_CA_BR.sort_values(by = "views_Total", ascending = False)
both_CA_BR

                                                                 video_id_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       FlsCjmMhFmw
                                                   17.12.12       FlsCjmMhFmw
                                                   17.11.12       FlsCjmMhFmw
                                                   17.10.12       FlsCjmMhFmw
Childish Gambino - This Is America (Official Vi... 18.13.05       VYOjWnS4cMY
...                                                                       ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       QBOzHhuTzvw
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12       YkG4Yvwucxo
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12       M5zO1XSmOg4
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01       R8QG7nf5IXQ
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02       ipE-iN_LLcA

                                                                       channel_title_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12            YouTube Spotlight
                                                   17.12.12            YouTube Spotlight
                                                   17.11.12            YouTube Spotlight
                                                   17.10.12            YouTube Spotlight
Childish Gambino - This Is America (Official Vi... 18.13.05          ChildishGambinoVEVO
...                                                                                  ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       The Hollywood Reporter
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                 Amelia Liana
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                 Amelia Liana
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                 MAJID JORDAN
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                 Amelia Liana

                                                                  category_id_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12                    24
                                                   17.12.12                    24
                                                   17.11.12                    24
                                                   17.10.12                    24
Childish Gambino - This Is America (Official Vi... 18.13.05                    10
...                                                                           ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02                    24
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                    26
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                    26
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                    10
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                    22

                                                                          publish_time_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       2017-12-06T17:58:51.000Z
                                                   17.12.12       2017-12-06T17:58:51.000Z
                                                   17.11.12       2017-12-06T17:58:51.000Z
                                                   17.10.12       2017-12-06T17:58:51.000Z
Childish Gambino - This Is America (Official Vi... 18.13.05       2018-05-06T04:00:07.000Z
...                                                                                    ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       2018-02-07T18:02:23.000Z
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12       2017-12-07T15:57:55.000Z
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12       2017-12-05T16:54:56.000Z
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01       2018-01-11T14:59:11.000Z
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02       2018-02-22T18:22:27.000Z

                                                                                                           tags_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       Rewind|"Rewind 2017"|"youtube rewind 2017"|"#Y...
                                                   17.12.12       Rewind|"Rewind 2017"|"youtube rewind 2017"|"#Y...
                                                   17.11.12       Rewind|"Rewind 2017"|"youtube rewind 2017"|"#Y...
                                                   17.10.12       Rewind|"Rewind 2017"|"youtube rewind 2017"|"#Y...
Childish Gambino - This Is America (Official Vi... 18.13.05       Childish Gambino|"Rap"|"This Is America"|"mcDJ...
...                                                                                                             ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       thr|"the hollywood reporter"|"hollywood report...
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12       amelialiana|"amelia liana"|"christmas dresses ...
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12       amelialiana|"amelia liana"|"vlogmas"|"vlogmas ...
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01       ovosound|"ovo"|"majid jordan"|"majid"|"ovoradi...
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02       amelia liana|"amelialiana"|"what I wore and di...

                                                                  views_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       137843120
                                                   17.12.12       125431369
                                                   17.11.12       113876217
                                                   17.10.12       100911567
Childish Gambino - This Is America (Official Vi... 18.13.05        98938809
...                                                                     ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02           43688
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12           37789
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12           35215
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01           27664
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02           26699

                                                                  likes_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12         3014479
                                                   17.12.12         2912715
                                                   17.11.12         2811217
                                                   17.10.12         2656678
Childish Gambino - This Is America (Official Vi... 18.13.05         3037318
...                                                                     ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02            1232
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12            1253
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12            1235
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01            3855
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02             934

                                                                  dislikes_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12            1602383
                                                   17.12.12            1545018
                                                   17.11.12            1470387
                                                   17.10.12            1353655
Childish Gambino - This Is America (Official Vi... 18.13.05             161813
...                                                                        ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02                 31
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                 62
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                 44
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                 13
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                 34

                                                                  comment_count_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12                  817582
                                                   17.12.12                  807558
                                                   17.11.12                  787174
                                                   17.10.12                  682890
Childish Gambino - This Is America (Official Vi... 18.13.05                  319502
...                                                                             ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02                     382
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                     263
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                     136
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                     428
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                      74

                                                                                              thumbnail_link_CAN  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
                                                   17.12.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
                                                   17.11.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
                                                   17.10.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
Childish Gambino - This Is America (Official Vi... 18.13.05       https://i.ytimg.com/vi/VYOjWnS4cMY/default.jpg
...                                                                                                          ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       https://i.ytimg.com/vi/QBOzHhuTzvw/default.jpg
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12       https://i.ytimg.com/vi/YkG4Yvwucxo/default.jpg
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12       https://i.ytimg.com/vi/M5zO1XSmOg4/default.jpg
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01       https://i.ytimg.com/vi/R8QG7nf5IXQ/default.jpg
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02       https://i.ytimg.com/vi/ipE-iN_LLcA/default.jpg

                                                                  ...  \
title                                              trending_date  ...
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       ...
                                                   17.12.12       ...
                                                   17.11.12       ...
                                                   17.10.12       ...
Childish Gambino - This Is America (Official Vi... 18.13.05       ...
...                                                               ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       ...
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12       ...
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12       ...
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01       ...
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02       ...

                                                                   views_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       137843120
                                                   17.12.12       125432237
                                                   17.11.12       113874632
                                                   17.10.12       100911567
Childish Gambino - This Is America (Official Vi... 18.13.05        98938809
...                                                                     ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02           43688
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12           37789
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12           35215
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01           27664
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02           26699

                                                                   likes_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       3014473.0
                                                   17.12.12       2912706.0
                                                   17.11.12       2811215.0
                                                   17.10.12       2656665.0
Childish Gambino - This Is America (Official Vi... 18.13.05       3037293.0
...                                                                     ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02          1232.0
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12          1253.0
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12          1235.0
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01          3855.0
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02           934.0

                                                                  dislikes_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12         1602383.0
                                                   17.12.12         1545014.0
                                                   17.11.12         1470384.0
                                                   17.10.12         1353649.0
Childish Gambino - This Is America (Official Vi... 18.13.05          161812.0
...                                                                       ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02              31.0
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12              62.0
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12              44.0
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01              13.0
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02              34.0

                                                                 comment_count_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12              817582.0
                                                   17.12.12              807558.0
                                                   17.11.12              787174.0
                                                   17.10.12              682890.0
Childish Gambino - This Is America (Official Vi... 18.13.05              319502.0
...                                                                           ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02                 382.0
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                 263.0
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                 136.0
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                 428.0
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                  74.0

                                                                                               thumbnail_link_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
                                                   17.12.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
                                                   17.11.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
                                                   17.10.12       https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg
Childish Gambino - This Is America (Official Vi... 18.13.05       https://i.ytimg.com/vi/VYOjWnS4cMY/default.jpg
...                                                                                                          ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02       https://i.ytimg.com/vi/QBOzHhuTzvw/default.jpg
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12       https://i.ytimg.com/vi/YkG4Yvwucxo/default.jpg
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12       https://i.ytimg.com/vi/M5zO1XSmOg4/default.jpg
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01       https://i.ytimg.com/vi/R8QG7nf5IXQ/default.jpg
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02       https://i.ytimg.com/vi/ipE-iN_LLcA/default.jpg

                                                                 comments_disabled_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12                     False
                                                   17.12.12                     False
                                                   17.11.12                     False
                                                   17.10.12                     False
Childish Gambino - This Is America (Official Vi... 18.13.05                     False
...                                                                               ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02                     False
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                     False
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                     False
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                     False
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                     False

                                                                  ratings_disabled_UK  \
title                                              trending_date
YouTube Rewind: The Shape of 2017 | #YouTubeRewind 17.13.12                     False
                                                   17.12.12                     False
                                                   17.11.12                     False
                                                   17.10.12                     False
Childish Gambino - This Is America (Official Vi... 18.13.05                     False
...                                                                               ...
Full Actresses Roundtable: Saoirse Ronan, Jenni... 18.08.02                     False
New Christmas Dresses Try on Haul & An Emotiona... 17.08.12                     False
ORGANISING MY MUM'S CLOSET! | Vlogmas Day 4        17.06.12                     False
Majid Jordan - Gave Your Love Away (Official Mu... 18.12.01                     False
WHAT I WORE & DID AT THE BAFTAS | Amelia Liana     18.23.02                     False

                                                                 video_error_or_removed_UK  \

> Now we can reset `views_Total` to be the index, also changing the type of `views_Total` to `int64`.

In [70]:
both_CA_BR.views_Total = both_CA_BR.views_Total.astype("int64")
both_CA_BR = both_CA_BR.set_index("views_Total")
both_CA_BR

,video_id_CAN,channel_title_CAN,category_id_CAN,publish_time_CAN,tags_CAN,views_CAN,likes_CAN,dislikes_CAN,comment_count_CAN,thumbnail_link_CAN,...,tags_UK,views_UK,likes_UK,dislikes_UK,comment_count_UK,thumbnail_link_UK,comments_disabled_UK,ratings_disabled_UK,video_error_or_removed_UK,description_UK
views_Total,,,,,,,,,,,,,,,,,,,,,
137843120,FlsCjmMhFmw,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",137843120,3014479,1602383,817582,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",137843120,3014473.0,1602383.0,817582.0,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p..."
125432237,FlsCjmMhFmw,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",125431369,2912715,1545018,807558,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",125432237,2912706.0,1545014.0,807558.0,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p..."
113876217,FlsCjmMhFmw,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",113876217,2811217,1470387,787174,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",113874632,2811215.0,1470384.0,787174.0,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p..."
100911567,FlsCjmMhFmw,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",100911567,2656678,1353655,682890,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,...,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",100911567,2656665.0,1353649.0,682890.0,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p..."
98938809,VYOjWnS4cMY,ChildishGambinoVEVO,10,2018-05-06T04:00:07.000Z,"Childish Gambino|""Rap""|""This Is America""|""mcDJ...",98938809,3037318,161813,319502,https://i.ytimg.com/vi/VYOjWnS4cMY/default.jpg,...,"Childish Gambino|""Rap""|""This Is America""|""mcDJ...",98938809,3037293.0,161812.0,319502.0,https://i.ytimg.com/vi/VYOjWnS4cMY/default.jpg,False,False,False,“This is America” by Childish Gambino http://s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43688,QBOzHhuTzvw,The Hollywood Reporter,24,2018-02-07T18:02:23.000Z,"thr|""the hollywood reporter""|""hollywood report...",43688,1232,31,382,https://i.ytimg.com/vi/QBOzHhuTzvw/default.jpg,...,"thr|""the hollywood reporter""|""hollywood report...",43688,1232.0,31.0,382.0,https://i.ytimg.com/vi/QBOzHhuTzvw/default.jpg,False,False,False,"Subscribe for Roundtables, Box Office Reports,..."
37789,YkG4Yvwucxo,Amelia Liana,26,2017-12-07T15:57:55.000Z,"amelialiana|""amelia liana""|""christmas dresses ...",37789,1253,62,263,https://i.ytimg.com/vi/YkG4Yvwucxo/default.jpg,...,"amelialiana|""amelia liana""|""christmas dresses ...",37789,1253.0,62.0,263.0,https://i.ytimg.com/vi/YkG4Yvwucxo/default.jpg,False,False,False,A haul of some new Christmas dresses for the p...
35215,M5zO1XSmOg4,Amelia Liana,26,2017-12-05T16:54:56.000Z,"amelialiana|""amelia liana""|""vlogmas""|""vlogmas ...",35215,1235,44,136,https://i.ytimg.com/vi/M5zO1XSmOg4/default.jpg,...,"amelialiana|""amelia liana""|""vlogmas""|""vlogmas ...",35215,1235.0,44.0,136.0,https://i.ytimg.com/vi/M5zO1XSmOg4/default.jpg,False,False,False,Organising my mum's closet (or trying to haha!...
27664,R8QG7nf5IXQ,MAJID JORDAN,10,2018-01-11T14:59:11.000Z,"ovosound|""ovo""|""majid jordan""|""majid""|""ovoradi...",27664,3855,13,428,https://i.ytimg.com/vi/R8QG7nf5IXQ/default.jpg,...,"ovosound|""ovo""|""majid jordan""|""majid""|""ovoradi...",27664,3855.0,13.0,428.0,https://i.ytimg.com/vi/R8QG7nf5IXQ/default.jpg,False,False,False,Directed by Common Good\nThe Space Between - h...
26699,ipE-iN_LLcA,Amelia Liana,22,2018-02-22T18:22:27.000Z,"amelia liana|""amelialiana""|""what I wore and di...",26699,934,34,74,https://i.ytimg.com/vi/ipE-iN_LLcA/default.jpg,...,"amelia liana|""amelialiana""|""what I wore and di...",26699,934.0,34.0,74.0,https://i.ytimg.com/vi/ipE-iN_LLcA/default.jpg,False,False,False,What i wore and did at the BAFTAs 2018 with La...

> We can make a new dataframe called `both_CA_BR_simple` to show important variables with newly assigned columns that show both countries simultaneously.

In [71]:
both_CA_BR['likes_Total'] = both_CA_BR['likes_CAN'] + both_CA_BR['likes_UK']
both_CA_BR['dislikes_Total'] = both_CA_BR['dislikes_CAN'] + both_CA_BR['dislikes_UK']
both_CA_BR_simple = both_CA_BR[["channel_title_CAN", "publish_time_CAN", "likes_Total", "dislikes_Total"]]
both_CA_BR_simple

,channel_title_CAN,publish_time_CAN,likes_Total,dislikes_Total
views_Total,,,,
137843120,YouTube Spotlight,2017-12-06T17:58:51.000Z,6028952.0,3204766.0
125432237,YouTube Spotlight,2017-12-06T17:58:51.000Z,5825421.0,3090032.0
113876217,YouTube Spotlight,2017-12-06T17:58:51.000Z,5622432.0,2940771.0
100911567,YouTube Spotlight,2017-12-06T17:58:51.000Z,5313343.0,2707304.0
98938809,ChildishGambinoVEVO,2018-05-06T04:00:07.000Z,6074611.0,323625.0
...,...,...,...,...
43688,The Hollywood Reporter,2018-02-07T18:02:23.000Z,2464.0,62.0
37789,Amelia Liana,2017-12-07T15:57:55.000Z,2506.0,124.0
35215,Amelia Liana,2017-12-05T16:54:56.000Z,2470.0,88.0
27664,MAJID JORDAN,2018-01-11T14:59:11.000Z,7710.0,26.0
26699,Amelia Liana,2018-02-22T18:22:27.000Z,1868.0,68.0

In [72]:
both_CA_BR_simple = both_CA_BR_simple.reset_index()
both_CA_BR_simple.index += 1
both_CA_BR_simple

,views_Total,channel_title_CAN,publish_time_CAN,likes_Total,dislikes_Total
1,137843120,YouTube Spotlight,2017-12-06T17:58:51.000Z,6028952.0,3204766.0
2,125432237,YouTube Spotlight,2017-12-06T17:58:51.000Z,5825421.0,3090032.0
3,113876217,YouTube Spotlight,2017-12-06T17:58:51.000Z,5622432.0,2940771.0
4,100911567,YouTube Spotlight,2017-12-06T17:58:51.000Z,5313343.0,2707304.0
5,98938809,ChildishGambinoVEVO,2018-05-06T04:00:07.000Z,6074611.0,323625.0
...,...,...,...,...,...
2166,43688,The Hollywood Reporter,2018-02-07T18:02:23.000Z,2464.0,62.0
2167,37789,Amelia Liana,2017-12-07T15:57:55.000Z,2506.0,124.0
2168,35215,Amelia Liana,2017-12-05T16:54:56.000Z,2470.0,88.0
2169,27664,MAJID JORDAN,2018-01-11T14:59:11.000Z,7710.0,26.0
2170,26699,Amelia Liana,2018-02-22T18:22:27.000Z,1868.0,68.0